.container {
  grid-area: main;
  display: grid;
  place-items: center;
  z-index: -1;
  overflow: hidden;
}

.back {
  grid-area: main;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #ffe6f2;
  animation-name: backdiv;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

.heart {
  position: relative;
  background-color: var(--heart-color);
  height: var(--heart-size);
  width: var(--heart-size);
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: 3;
}

.heart:after {
  background-color: var(--heart-color);
  content: '';
  position: absolute;
  border-radius: 50%;
  width: var(--heart-size);
  height: var(--heart-size);
  top: 0px;
  left: calc(var(--heart-size) / 2);
}
.heart:before {
  background-color: var(--heart-color);
  content: '';
  position: absolute;
  border-radius: 50%;
  width: var(--heart-size);
  height: var(--heart-size);
  top: calc(var(--heart-size) / -2);
  left: 0px;
}

@keyframes backdiv {
  50% {
    background: white;
  }
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }

  50% {
    transform: scale(0.6) rotate(-40deg);
  }
}
