.navbar {
  z-index: 1;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--primary-text);
}

.listItem {
  color: var(--primary-text);
  list-style: none;
  /* box-shadow: 0.25rem 0.25rem var(--secondary-color); */
  background-color: var(--primary-color-light);
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
}

.list > :not(:last-child) {
  margin-right: 1rem;
}
