:root {
  --heart-color: pink;
  --heart-size: calc(17vh / 4 * 8);
  --primary-color: #462749;
  --primary-color-light: #8c4f92;
  --secondary-color: #77b6ea;
  --primary-text: white;
  --warning-color: #ffc857;
  --supabase-color: #24b47e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
